@CHARSET "UTF-8";

input[type="text"],input[type="password"] {
	outline-style: none;
	border: 0;
	padding: 0 0 0 2px;
	vertical-align: middle;
	background: none;
}

.body {
	/* 	background: url("/img/bg.jpg"); */
}

.reigste-or-login {
	width: 950px;
	margin: 60px auto;
	padding: 20px 100px;
	background: transparent;
	z-index: -2;
}

.info_list {
	float: left;
	margin: 0 15px 0 0;
}

.email {
	float: left;
	width: 135px;
	height: 28px;
	border: 1px solid #ccc;
	border-radius: 2px;
	box-shadow: 1px 1px 1px 0 #eaeaea inset;
	border-radius: 2px;
	margin-top: 5px; padding : 0 4px 0 39px;
	background: url("/img/registe.png") no-repeat 3px -23px;
	border-radius: 2px;
	padding: 0 4px 0 39px;
}

.email input,.password input {
	width: 135px;
	height: 28px;
}

.password {
	float: left;
	width: 135px;
	height: 28px;
	border: 1px solid #ccc;
	border-radius: 2px;
	box-shadow: 1px 1px 1px 0 #eaeaea inset;
	border-radius: 2px;
	margin-top: 5px;
	padding-left: 39px;
	padding-right: 4px;
	background: url("/img/registe.png") no-repeat 3px 2px;
	border-radius: 2px;
	width: 135px;
}

.input_tip {
	position: absolute;
	color: grey;
	font-size: 12px;
	z-index: -1;
}

.submit_btn {
	border: 1px solid #ccc;
	width: 70px;
	padding: 10px 40px;
	background: #ffa00a;
	border-radius: 2px;
	background: #ffa00a;
	font-size: 12px;
	cursor: pointer;
}

.fast_registe {
	float: left;
}

.go_login {
	float: left;
	margin: 10px 20px;
	padding: 0 5px 5px 0;
	border-bottom: 1px dotted grey;
}

.go_login a:LINK, .go_login a:VISITED {
	color: #0a8cd2;
}

.go_login a:HOVER {
	color: #0a8cd2;
	text-decoration: underline;
}