
* {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

body {
	font-size: 12px;
	line-height: 24px;
	background: #efefef;
}

li {
	display: inline-block;
	list-style-type: none;
}

.clear {
	clear: both;
	display: inline-block;
	height: 0;
}

.box {
	width: 950px;
	margin: 0 auto;
}

.head {
	height: 31px;
	line-height: 30px;
	background: #f8f8f8;
	border-bottom: 1px solid #8b8b8b;
	background: #f8f8f8;
}

.topbar {
	height: 30px;
}

.topbarl {
	float: left;
}

.topbarr {
	float: right;
	padding: 0 5px;
}

.nar {
	height: 100px;
}

.narl {
	float: left;
}
.logo {
	float: left;
	width: 300px;
	height: 90px;
}
.narr {
	float: right;
	padding: 0 10px;
	margin: 30px 0;
	background: #1b96be;
}

.narr li a {
	display: inline-block;
	text-decoration: none;
	padding: 6px 15px;
	color: white;
}

.narr li a.hover, li a:hover {
	background: white;
	color: #1b96be;
}

.banner {
	margin: 10px;
	height: 250px;
}

.logo1 {
	background: url("/img/bg.jpg");
	height: 250px;
}