.main {
	width: 950px;
	height: 400px;
	margin: 75px auto;
}

.main_left {
	float: left;
	color: white;
	width: 150px;
	height: 400px;
	background: #ccccff;
	border: 1px solid #ccccff;
	border-radius: 2px;
}

.left_list {
	float: left;
	margin: 2px;
	padding: 5px;
	clear: left;
	cursor: pointer;
	width: 120px;
	background: grey;
	border-radius: 4px;
	text-indent: 5px;
	letter-spacing: 5px;
}

.center {
	float: right;
	width: 780px;
	height: 400px;
	background: #ccbbaa;
}

.files {
	margin: 20px 50px;
	background: red;
}

.file_list {
	float: left;
	clear: left;
}

.download {
	float: right;
}